* {
  box-sizing: border-box;
}

body {
  background-color: #23262d;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(12, [col] 1fr);
    grid-template-rows: repeat(15, [row] 1fr);
    background-color: #efefdf;
    text-align: center;
    perspective: 1200px;
    transform-style: preserve-3d;
    perspective-origin: center;
}

.grid-item1,
.grid-item2,
.grid-item3,
.grid-item4,
.grid-item5,
.grid-item6,
.grid-item7,
.grid-item8,
.grid-item9,
.grid-item10,
.grid-item11,
.grid-item12,
.grid-item13,
.grid-item14,
.grid-item15,
.grid-item16,
.grid-item17,
.grid-item18,
.grid-item19,
.grid-item20,
.grid-item21,
.grid-item22,
.grid-item23,
.grid-item24,
.grid-item25,
.grid-item26,
.grid-item27,
.grid-item28,
.grid-item29,
.grid-item30,
.grid-item31,
.grid-item32,
.grid-item33,
.grid-item34,
.grid-item35,
.grid-item36,
.grid-item37,
.grid-item38,
.grid-item39,
.grid-item40,
.grid-item41,
.grid-item42,
.grid-item43,
.grid-item44,
.grid-item45,
.grid-item46,
.grid-item47,
.grid-item48,
.grid-item49,
.grid-item50,
.grid-item51,
.grid-item52,
.grid-item53,
.grid-item54,
.grid-item55,
.grid-item56,
.grid-item57,
.grid-item58,
.grid-item59,
.grid-item60,
.grid-item61,
.grid-item62,
.grid-item63,
.grid-item64,
.grid-item65,
.grid-item66,
.grid-item67,
.grid-item68,
.grid-item69,
.grid-item70,
.grid-item71,
.grid-item72,
.grid-item73,
.grid-item74,
.grid-item75,
.grid-item76,
.grid-item77,
.grid-item78,
.grid-item79,
.grid-item80,
.grid-item81,
.grid-item82,
.grid-item83,
.grid-item84,
.grid-item85,
.grid-item86,
.grid-item87,
.grid-item88,
.grid-item89,
.grid-item90,
.grid-item91{
/* ... */
  min-height: 65px;
  background-color: grey;
  animation: color-change 3s linear infinite;
  display: flex;
  justify-content: center;
  transform: translateZ(10px);
  transition: all 0.25s ease-in-out;
  border: 1px solid #1c1b1b;
  position: relative;

}

.grid-item1:hover,
.grid-item2:hover,
.grid-item3:hover,
.grid-item4:hover,
.grid-item5:hover,
.grid-item6:hover,
.grid-item7:hover,
.grid-item8:hover,
.grid-item9:hover,
.grid-item10:hover,
.grid-item11:hover,
.grid-item12:hover,
.grid-item13:hover,
.grid-item14:hover,
.grid-item15:hover,
.grid-item16:hover,
.grid-item17:hover,
.grid-item18:hover,
.grid-item19:hover,
.grid-item20:hover,
.grid-item21:hover,
.grid-item22:hover,
.grid-item23:hover,
.grid-item24:hover,
.grid-item25:hover,
.grid-item26:hover,
.grid-item27:hover,
.grid-item28:hover,
.grid-item29:hover,
.grid-item30:hover,
.grid-item31:hover,
.grid-item32:hover,
.grid-item33:hover,
.grid-item34:hover,
.grid-item35:hover,
.grid-item36:hover,
.grid-item37:hover,
.grid-item38:hover,
.grid-item39:hover,
.grid-item40:hover,
.grid-item41:hover,
.grid-item42:hover,
.grid-item43:hover,
.grid-item44:hover,
.grid-item45:hover,
.grid-item46:hover,
.grid-item47:hover,
.grid-item48:hover,
.grid-item49:hover,
.grid-item50:hover,
.grid-item51:hover,
.grid-item52:hover,
.grid-item53:hover,
.grid-item54:hover,
.grid-item55:hover,
.grid-item56:hover,
.grid-item57:hover,
.grid-item58:hover,
.grid-item59:hover,
.grid-item60:hover,
.grid-item61:hover,
.grid-item62:hover,
.grid-item63:hover,
.grid-item64:hover,
.grid-item65:hover,
.grid-item66:hover,
.grid-item67:hover,
.grid-item68:hover,
.grid-item69:hover,
.grid-item70:hover,
.grid-item71:hover,
.grid-item72:hover,
.grid-item73:hover,
.grid-item74:hover,
.grid-item75:hover,
.grid-item76:hover,
.grid-item77:hover,
.grid-item78:hover,
.grid-item79:hover,
.grid-item80:hover,
.grid-item81:hover,
.grid-item82:hover,
.grid-item83:hover,
.grid-item84:hover,
.grid-item85:hover,
.grid-item86:hover,
.grid-item87:hover,
.grid-item88:hover,
.grid-item89:hover,
.grid-item90:hover,
.grid-item91:hover
/* ... */ {
  transform: translateZ(55px) translateY(8px);
  z-index: 1;

  /*box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);*/
}

.grid-item29 {
    grid-row: span 3;
    grid-column: col 5 / col 6;
    display: flex;
    align-items: center;
    writing-mode: vertical-rl;
    text-align: center;
}

.grid-item29:hover {
  animation: color-change-big 1s linear infinite;
}



.grid-item38:hover {
    animation: color-change-big 1s linear infinite;
}

.grid-item38 {
    grid-column: col 2 / col 4;
    display: flex;
    align-items: center;
    writing-mode: horizontal-tb;
    text-align: center;
}




.grid-item43 {
    grid-column: col 9 / col 11;
    display: flex;
    align-items: center;
    writing-mode: horizontal-tb;
    text-align: center;
}

.grid-item43:hover {
    animation: color-change-big 1s linear infinite;
}




.grid-item63 {
    grid-column: col 7 / col 9;
    display: flex;
    align-items: center;
    writing-mode: horizontal-tb;
    text-align: center;
}

.grid-item63:hover {
  animation: color-change-big 1s linear infinite;
}

.grid-item1,
.grid-item2,
.grid-item13,
.grid-item14,
.grid-item25,
.grid-item6,
.grid-item18,
.grid-item30,
.grid-item40,
.grid-item50,
.grid-item11,
.grid-item23,
.grid-item35,
.grid-item44,
.grid-item55,
.grid-item66,
.grid-item78,
.grid-item90,
.grid-item64,
.grid-item98,
.grid-item81,
.grid-item27{
    animation: color-change-group 3s linear infinite;
}

.grid-item3,
.grid-item4,
.grid-item5,
.grid-item80,
.grid-item81,
.grid-item82,
.grid-item57,
.grid-item58,
.grid-item41,
.grid-item8,
.grid-item9,
.grid-item85,
.grid-item35,
.grid-item33,
.grid-item52,
.grid-item74,
.grid-item39,
.grid-item22,
.grid-item21,
.grid-item87,
.grid-item60,
.grid-item86{
    animation: color-change-group 4s linear infinite;
}



@keyframes color-change-big {
  0% {
    background-color: #f8f800;
  }
  20% {
    background-color: #0080ff;
  }
  40% {
    background-color: #ec0000;
  }
  60% {
    background-color: #06e706;
  }
  80% {
    background-color: #7109d9;
  }
  100% {
    background-color: #08fcfc;
  }
}


@keyframes color-change {
  0% {
    background-color: #e0dede;
  }
  20% {
    background-color: #b8b6b6;
  }
  40% {
    background-color: #5e5d5d;
  }
  60% {
    background-color: #7f7e7e;
  }
  80% {
    background-color: #b8b6b6;
  }
  100% {
    background-color: #e0dede;
  }
}

@keyframes color-change-group {
  0% {
    background-color: #5e5d5d;
  }
  20% {
    background-color: #b8b6b6;
  }
  40% {
    background-color: #f1eded;
  }
  60% {
    background-color: #b8b6b6;
  }
  80% {
    background-color: #7f7e7e;
  }
  100% {
    background-color: #5e5d5d;
  }
}

@keyframes color-change-group2 {
  0% {
    background-color: #b8b6b6;
  }
  20% {
    background-color: #f1eded;
  }
  40% {
    background-color: #b8b6b6;
  }
  60% {
    background-color: #7f7e7e;
  }
  80% {
    background-color: #5e5d5d;
  }
  100% {
    background-color: #b8b6b6;
  }
}

.grid-item11:hover {
    box-shadow:

    /* Sides */
    -1px 0px 2px #555454,       -1px 1px 2px #000000,
    -3px 1px 2px #555454,       -3px 2px 2px  #000000,
    -5px 2px 2px #555454,       -5px 3px 2px  #000000,
    -7px 3px 2px #555454,       -7px 4px 2px #000000,
    -9px 4px 2px #555454,       -9px 5px 2px #000000,
    -11px 5px 2px #555454,      -11px 6px 2px #000000,
    -13px 6px 2px #555454,      -13px 6.5px 2px #000000,
    -15px 6.5px 2px #555454,    -15px 7px 2px #000000,
    -17px 7px 2px #555454,      -18px 7.5px 2px #000000,
    -19px 7.5px 2px #555454,    -19px 8px 2px #000000,
    -20px 8px 2px #555454,      -20px 9px 2px #000000,

    /* Shadow */
    -16px 5px  10px 10px rgba(0, 0, 0, 0.25),
    -15px 14px  10px 10px rgba(0, 0, 0, 0.25),
    -13px 19px  10px 12px rgba(0, 0, 0, 0.24);

}

.grid-item12:hover {
    box-shadow:

    /* Sides */
    -1px 0px 3px #555454,       -1px 1px 2px #000000,
    -3px 1px 3px #555454,     -3px 2px 2px  #000000,
    -5px 2px 3px #555454,       -5px 3px 2px  #000000,
    -7px 3px 3px #555454,     -7px 4px 2px #000000,
    -9px 4px 3px #555454,       -9px 5px 2px #000000,
    -11px 5px 3px #555454,    -11px 6px 2px #000000,
    -13px 6px 3px #555454,      -13px 7px 2px #000000,
    -15px 6.5px 3px #555454,    -15px 7px 2px #000000,
    -17px 7px 3px #555454,      -17px 8.5px 2px #000000,
    -19px 7.5px 3px #555454,    -19px 9px 2px #000000,
    -20px 8px 3px #555454,      -20px 9.5px 2px #000000,
    -21px 8.5px 3px #555454,    -21px 9px 2px #000000,
    -22px 9px 3px #555454,      -22px 9px 2px #000000,
    -23px 9px 3px #555454,      -24px 9px 2px #000000,
    -24px 9px 3px #555454,      -25px 9px 2px #000000,


    /* Shadow */
    -16px 5px  10px 10px rgba(0, 0, 0, 0.25),
    -15px 14px  10px 10px rgba(0, 0, 0, 0.25),
    -13px 19px  10px 12px rgba(0, 0, 0, 0.24);

}

.grid-item23:hover {
    box-shadow:

    /* Sides */
    -1px 0px 3px #555454,       -1px 1px 2px #000000,
    -3px 0.5px 3px #555454,     -3px 1px 2px  #000000,
    -5px 1px 3px #555454,       -5px 2px 2px  #000000,
    -7px 1.5px 3px #555454,     -7px 3px 2px #000000,
    -9px 2px 3px #555454,       -9px 3px 2px #000000,
    -11px 2.5px 3px #555454,    -11px 4px 2px #000000,
    -13px 3px 3px #555454,      -13px 5px 2px #000000,
    -15px 3.5px 3px #555454,    -15px 6px 2px #000000,
    -17px 4px 3px #555454,      -18px 6px 2px #000000,
    -19px 5px 3px #555454,      -19px 6px 2px #000000,


    /* Shadow */
    -16px 5px  10px 10px rgba(0, 0, 0, 0.25),
    -15px 14px  10px 10px rgba(0, 0, 0, 0.25),
    -13px 19px  10px 12px rgba(0, 0, 0, 0.24);
}

.grid-item24:hover {
    box-shadow:

    /* Sides */
    -1px 0px 3px #555454,       -1px 0.5px 2px #000000,
    -3px 0.5px 3px #555454,     -3px 1px 2px  #000000,
    -5px 1px 3px #555454,       -5px 1.5px 2px  #000000,
    -7px 1.5px 3px #555454,     -7px 2px 2px #000000,
    -9px 2px 3px #555454,       -9px 2.5px 2px #000000,
    -11px 2.5px 3px #555454,    -11px 3px 2px #000000,
    -13px 3px 3px #555454,      -13px 3.5px 2px #000000,
    -15px 3.5px 3px #555454,    -15px 4px 2px #000000,
    -17px 4px 3px #555454,      -17px 4.5px 2px #000000,
    -19px 4.5px 3px #555454,      -19px 5px 2px #000000,
    -20px 5px 3px #555454,      -20px 5.5px 2px #000000,
    -21px 5.5px 3px #555454,      -21px 6px 2px #000000,
    -22px 6px 3px #555454,      -22px 6.5px 2px #000000,
    -23px 6px 3px #555454,      -23px 6.5px 2px #000000,
    -24px 6px 3px #555454,      -24px 6.5px 2px #000000,
    /* Shadow */
    -16px 5px  10px 10px rgba(0, 0, 0, 0.25),
    -15px 14px  10px 10px rgba(0, 0, 0, 0.25),
    -13px 19px  10px 12px rgba(0, 0, 0, 0.24);
}

.grid-item35:hover {
    box-shadow:

    /* Sides */
    -1px 0 2px #555454,         -1px 0.5px 2px #000000,
    -3px 0.5px 2px #555454,     -3px 1px 2px  #000000,
    -5px 1px 2px #555454,       -5px 1.5px 2px  #000000,
    -7px 1.5px 2px #555454,     -7px 2px 2px #000000,
    -9px 2px 2px #555454,       -9px 2.5px 2px #000000,
    -11px 2.5px 2px #555454,    -11px 3px 2px #000000,
    -13px 2.9px 2px #555454,    -13px 3.25px 2px #000000,
    -15px 3.4px 2px #555454,    -15px 3.4px 2px #000000,
    -17px 3.8px 2px #555454,    -17px 3.9px 2px #000000,
    -19px 3.9px 2px #555454,    -19px 4px 2px #000000,

    /* Shadow */
    -16px 5px  10px 10px rgba(0, 0, 0, 0.25),
    -15px 14px  10px 10px rgba(0, 0, 0, 0.25),
    -13px 19px  10px 12px rgba(0, 0, 0, 0.24);

}

.grid-item36:hover {
    box-shadow:

    /* Sides */
    -1px 0 3px #555454,          -1px 0.25px 3px #000000,
    -3px 0.25px 3px #555454,     -3px 0.5px 3px  #000000,
    -5px 0.5px 3px #555454,      -5px 0.75px 3px  #000000,
    -7px 0.75px 3px #555454,     -7px 1px 3px #000000,
    -9px 1px 3px #555454,        -9px 1.25px 3px #000000,
    -11px 1.25px 3px #555454,    -11px 1.5px 3px #000000,
    -13px 1.5px 3px #555454,     -13px 1.75px 3px #000000,
    -15px 1.75px 3px #555454,    -15px 2px 3px #000000,
    -17px 2px 3px #555454,       -17px 2.25px 3px #000000,
    -19px 2.25px 3px #555454,    -19px 2.5px 3px #000000,
    -20px 2.5px 3px #555454,     -20px 2.75px 3px #000000,
    -21px 2.75px 3px #555454,    -21px 3px 3px #000000,
    -22px 3px 3px #555454,       -22px 3.4px 3px #000000,
    -23px 3.4px 3px #555454,     -23px 3.8px 3px #000000,
    -24px 4px 3px #555454,       -24px 4px 3px #000000,

    /* Shadow */
    -16px 5px  10px 10px rgba(0, 0, 0, 0.25),
    -15px 14px  10px 10px rgba(0, 0, 0, 0.25),
    -13px 19px  10px 12px rgba(0, 0, 0, 0.24);

}

.grid-item44:hover {
    box-shadow:

    /* Sides */
    -1px 0 3px  #555454,        -1px 0.25px 2px  #000000,
    -3px 0.25px 3px  #555454,   -3px 0.5px 2px  #000000,
    -5px 0.5px 3px  #555454,    -5px 0.75px 2px  #000000,
    -7px 0.75px 3px  #555454,   -7px 1px 2px #000000,
    -9px 1px 3px  #555454,      -9px 1.25px 2px #000000,
    -11px 1.25px 3px  #555454,  -11px 1.5px 2px #000000,
    -13px 1.5px 3px  #555454,   -13px 1.75px 2px #000000,
    -15px 1.75px 3px  #555454,  -15px 2px 2px #000000,
    -17px 2px 3px  #555454,     -17px 2.25px 2px #000000,
    -19px 2.25px 3px  #555454,  -19px 2.5px 2px #000000,

    /* Shadow */
    -16px 5px  10px 10px rgba(0, 0, 0, 0.25),
    -28px 1px  10px 1px rgba(0, 0, 0, 0.25),
    -29px 1px  10px 1px rgba(0, 0, 0, 0.25),
    -13px 19px  10px 6px rgba(0, 0, 0, 0.24);

}


.grid-item45:hover {
    box-shadow:

    /* Sides */
    -1px 0 2px  #555454,        -1px 0.2px 2px  #000000,
    -3px 0.2px 2px  #555454,   -3px 0.4px 2px  #000000,
    -5px 0.4px 2px  #555454,    -5px 0.6px 2px  #000000,
    -7px 0.6px 2px  #555454,   -7px 0.8px 2px #000000,
    -9px 0.8px 2px  #555454,      -9px 1.25px 2px #000000,
    -11px 1px 2px  #555454,  -11px 1.2px 2px #000000,
    -13px 1.2px 2px  #555454,   -13px 1.4px 2px #000000,
    -15px 1.4px 2px  #555454,  -15px 1.6px 2px #000000,
    -17px 1.6px 3px #555454,     -17px 1.8px 2px #000000,
    -19px 1.8px 3px #555454,    -19px 2px 2px #000000,
    -20px 2px 3px #555454,      -20px 2.1px 2px #000000,
    -21px 2.1px 3px #555454,      -21px 2.2px 2px #000000,
    -22px 2.2px 3px #555454,      -22px 2.3px 2px #000000,
    -23px 2.4px 3px #555454,      -23px 2.4px 2px #000000,
    -23px 2.5px 3px #555454,      -24px 2.5px 2px #000000,

    /* Shadow */
    -16px 5px  10px 10px rgba(0, 0, 0, 0.25),
    -15px 14px  10px 10px rgba(0, 0, 0, 0.25),
    -13px 19px  10px 12px rgba(0, 0, 0, 0.24);

}


.grid-item56:hover {
  box-shadow:

  /* Sides */
  -1px 0 2px  #555454,           -1px -0.1px 2px  #000000,
  -3px -0.1px 3px  #555454,      -3px -0.15px 2px  #000000,
  -5px -0.15px 3px  #555454,     -5px -0.2px 2px  #000000,
  -7px -0.2px 3px  #555454,      -7px -0.25px 2px #000000,
  -9px -0.25px 3px  #555454,     -9px -0.3px 2px #000000,
  -11px -0.3px 3px  #555454,     -11px -0.35px 2px #000000,
  -13px -0.35px 3px  #555454,    -13px -0.4px 2px #000000,
  -15px -0.4px 3px  #555454,     -15px -0.45px 2px #000000,
  -17px -0.45px 3px #555454,     -17px -0.5px 2px #000000,
  -19px -0.5px 3px #555454,      -19px -0.55px 2px #000000,
  -20px -0.55px 3px #555454,     -20px -0.6px 2px #000000,
  -21px -0.6px 3px #555454,      -21px -0.7px 2px #000000,
  -22px -0.7px 3px #555454,      -22px -0.8px 2px #000000,
  -23px -0.8px 3px #555454,      -23px -0.9px 2px #000000,
  -23px -0.9px 3px #555454,      -24px -1px 2px #000000,

  /* Shadow */
  -16px 1px  10px 10px rgba(0, 0, 0, 0.25),
  -15px 3px  10px 10px rgba(0, 0, 0, 0.25),
  -13px 5px  10px 12px rgba(0, 0, 0, 0.24);

}


.grid-item55:hover {
    box-shadow:

    /* Sides */
    -1px 0px 3px   #555454,        -1px -0.1px 2px  #000000,
    -3px -0.1px 3px  #555454,      -3px -0.2px 2px  #000000,
    -5px -0.2px 3px  #555454,      -5px -0.3px 2px  #000000,
    -7px -0.3px 3px  #555454,      -7px -0.5px 2px #000000,
    -9px -0.4px 3px  #555454,      -9px -0.7px 2px #000000,
    -11px -0.5px 3px  #555454,     -11px -0.9px 2px #000000,
    -13px -0.6px 3px  #555454,     -13px -1px 2px #000000,
    -15px -0.7px 3px  #555454,     -15px -1.2px 2px #000000,
    -17px -0.8px 3px  #555454,     -17px -1.25px 2px #000000,
    -19px -0.9px 3px  #555454,     -19px -1.5px 2px #000000,

    /* Shadow */
    -16px 1px  10px 10px rgba(0, 0, 0, 0.25),
    -15px 3px  10px 10px rgba(0, 0, 0, 0.25),
    -13px 5px  10px 12px rgba(0, 0, 0, 0.24);

}

.grid-item66:hover {
    box-shadow:

    /* Sides */
    -1px 0px 3px   #555454,        -1px -0.1px 2px  #000000,
    -3px -0.2px 3px  #555454,      -3px -0.2px 2px  #000000,
    -5px -0.4px 3px  #555454,      -5px -0.3px 2px  #000000,
    -7px -0.6px 3px  #555454,      -7px -0.5px 2px #000000,
    -9px -0.8px 3px  #555454,      -9px -0.7px 2px #000000,
    -11px -1px 3px  #555454,     -11px -0.9px 2px #000000,
    -13px -1.2px 3px  #555454,     -13px -1px 2px #000000,
    -15px -1.4px 3px  #555454,     -15px -1.2px 2px #000000,
    -17px -1.6px 3px  #555454,     -17px -1.25px 2px #000000,
    -19px -1.8px 3px  #555454,     -19px -1.5px 2px #000000,

    /* Shadow */
    -16px -5px  10px 10px rgba(0, 0, 0, 0.25),
    -15px -10px  10px 10px rgba(0, 0, 0, 0.25),
    -13px -14px  10px 12px rgba(0, 0, 0, 0.24);

}

.grid-item67:hover {
  box-shadow:

  /* Sides */
  -1px 0px 3px   #555454,        -1px -0.1px 3px  #000000,
  -3px -0.1px 3px  #555454,      -3px -0.2px 3px  #000000,
  -5px -0.2px 3px  #555454,      -5px -0.3px 3px  #000000,
  -7px -0.3px 3px  #555454,      -7px -0.5px 3px #000000,
  -9px -0.5px 3px  #555454,      -9px -0.7px 3px #000000,
  -11px -0.7px 3px  #555454,     -11px -0.9px 3px #000000,
  -13px -0.9px 3px  #555454,     -13px -1.1px 3px #000000,
  -15px -1.1px 3px  #555454,     -15px -1.2px 3px #000000,
  -17px -1.2px 3px  #555454,     -17px -1.3px 3px #000000,
  -19px -1.3px 3px  #555454,     -19px -1.4px 3px #000000,
  -20px -1.4px 3px #555454,      -20px -1.3px 3px #000000,
  -21px -1.5px 3px #555454,      -21px -1.35px 3px #000000,
  -22px -1.6px 3px #555454,      -22px -1.4px 3px #000000,
  -23px -1.7px 3px #555454,      -23px -1.45px 3px #000000,
  -23px -1.8px 3px #555454,      -24px -1.5px 3px #000000,

  /* Shadow */
  -16px -5px  10px 10px rgba(0, 0, 0, 0.25),
  -15px -10px  10px 10px rgba(0, 0, 0, 0.25),
  -13px -14px  10px 12px rgba(0, 0, 0, 0.24);

}

.grid-item78:hover {
    box-shadow:

    /* Sides */
    -1px 0px 3px   #555454,        -1px -0.1px 2px  #000000,
    -3px -0.6px 3px  #555454,      -3px -0.6px 2px  #000000,
    -5px -1.2px 3px  #555454,      -5px -1.8px 2px  #000000,
    -7px -1.8px 3px  #555454,      -7px -2.4px 2px #000000,
    -9px -2.4px 3px  #555454,      -9px -3px 2px #000000,
    -11px -3px 3px  #555454,     -11px -3.6px 2px #000000,
    -13px -3.6px 3px  #555454,     -13px -4.2px 2px #000000,
    -15px -4.2px 3px  #555454,     -15px -4.5px 2px #000000,
    -17px -4.6px 3px  #555454,     -17px -4.8px 2px #000000,
    -19px -4.9px 3px  #555454,     -19px -5px 2px #000000,

    /* Shadow */
    -16px -5px  10px 10px rgba(0, 0, 0, 0.25),
    -15px -14px  10px 10px rgba(0, 0, 0, 0.25),
    -13px -19px  10px 12px rgba(0, 0, 0, 0.24);

}

.grid-item79:hover {
  box-shadow:

  /* Sides */
  -1px 0px 3px   #555454,        -1px -0.4px 2px  #000000,
  -3px -0.4px 3px  #555454,      -3px -0.8px 2px  #000000,
  -5px -0.8px 3px  #555454,      -5px -1.2px 2px  #000000,
  -7px -1.2px 3px  #555454,      -7px -1.6px 2px #000000,
  -9px -1.6px 3px  #555454,      -9px -2px 2px #000000,
  -11px -2px 3px  #555454,     -11px -3.1px 2px #000000,
  -13px -2.4px 3px  #555454,     -13px -3.2px 2px #000000,
  -15px -2.8px 3px  #555454,     -15px -3.5px 2px #000000,
  -17px -3.2px 3px  #555454,     -17px -3.8px 2px #000000,
  -19px -3.6px 3px  #555454,     -19px -4px 2px #000000,
  -20px -4px 3px #555454,      -20px -4.3px 3px #000000,
  -21px -4.2px 3px #555454,      -21px -4.35px 3px #000000,
  -22px -4.4px 3px #555454,      -22px -4.4px 3px #000000,
  -23px -4.8px 3px #555454,      -23px -4.45px 3px #000000,
  -23px -5px 3px #555454,      -24px -4.9px 3px #000000,

  /* Shadow */
  -16px -5px  10px 10px rgba(0, 0, 0, 0.25),
  -15px -14px  10px 10px rgba(0, 0, 0, 0.25),
  -13px -19px  10px 12px rgba(0, 0, 0, 0.24);

}

.grid-item90:hover {
    box-shadow:

    /* Sides */
    -1px 0px 3px   #555454,        -1px -0.1px 2px  #000000,
    -3px -0.1px 3px  #555454,      -3px -0.5px 2px  #000000,
    -5px -0.5px 3px  #555454,      -5px -1.5px 2px  #000000,
    -7px -1.5px 3px  #555454,      -7px -2.5px 2px #000000,
    -9px -2.5px 3px  #555454,      -9px -3.5px 2px #000000,
    -11px -3.5px 3px  #555454,     -11px -4.2px 2px #000000,
    -13px -4.2px 3px  #555454,     -13px -5px 2px #000000,
    -15px -5px 3px  #555454,     -15px -6px 2px #000000,
    -17px -6px 3px  #555454,     -17px -7px 2px #000000,
    -19px -7px 3px  #555454,     -19px -7.7px 2px #000000,

    /* Shadow */
    -16px -5px  10px 10px rgba(0, 0, 0, 0.25),
    -15px -14px  10px 10px rgba(0, 0, 0, 0.25),
    -13px -19px  10px 12px rgba(0, 0, 0, 0.24);

}

.grid-item91:hover {
  box-shadow:

  /* Sides */
  -1px 0px 3px   #555454,        -1px -0.1px 2px  #000000,
  -3px -0.5px 3px  #555454,      -3px -0.5px 2px  #000000,
  -5px -1px 3px  #555454,      -5px -1.5px 2px  #000000,
  -7px -1.5px 3px  #555454,      -7px -2px 2px #000000,
  -9px -2px 3px  #555454,      -9px -2.5px 2px #000000,
  -11px -2.5px 3px  #555454,     -11px -3px 2px #000000,
  -13px -3px 3px  #555454,     -13px -3.5px 2px #000000,
  -15px -3.5px 3px  #555454,     -15px -4px 2px #000000,
  -17px -4px 3px  #555454,     -17px -4.5px 2px #000000,
  -19px -4.5px 3px  #555454,     -19px -5px 2px #000000,
  -20px -5px 3px #555454,      -20px -5.5px 3px #000000,
  -21px -5.5px 3px #555454,      -21px -6px 3px #000000,
  -22px -6px 3px #555454,      -22px -6.4px 3px #000000,
  -23px -6.4px 3px #555454,      -23px -7px 3px #000000,
  -23px -7px 3px #555454,      -24px -7.7px 3px #000000,

  /* Shadow */
  -16px -5px  10px 10px rgba(0, 0, 0, 0.25),
  -15px -14px  10px 10px rgba(0, 0, 0, 0.25),
  -13px -19px  10px 12px rgba(0, 0, 0, 0.24);

}

.grid-item81:hover {
    box-shadow:

    /* Sides */
    1px 0px 3px   #555454,        1px -0.1px 2px  #000000,
    3px -0.1px 3px  #555454,      3px -0.5px 2px  #000000,
    5px -0.5px 3px  #555454,      5px -1.5px 2px  #000000,
    7px -1.5px 3px  #555454,      7px -2.5px 2px #000000,
    9px -2.5px 3px  #555454,      9px -3.5px 2px #000000,
    11px -3.5px 3px  #555454,     11px -4.2px 2px #000000,
    13px -4.2px 3px  #555454,     13px -5px 2px #000000,
    15px -5px 3px  #555454,       15px -6px 2px #000000,
    17px -6px 3px  #555454,       17px -7px 2px #000000,
    19px -7px 3px  #555454,       19px -7.7px 2px #000000,

    /* Shadow */
    16px -5px  10px 10px rgba(0, 0, 0, 0.25),
    15px -14px  10px 10px rgba(0, 0, 0, 0.25),
    13px -19px  10px 12px rgba(0, 0, 0, 0.24);

}


.grid-item10:hover {
  box-shadow:

  /* Sides */
  -1.3px 0px 2px #555454,     -1.3px 1px 2px #000000,
  -2.6px 1px 2px #555454,     -2.6px 2px 2px  #000000,
  -3.9px 2px 2px #555454,     -3.9px 3px 2px  #000000,
  -4.5px 3px 2px #555454,     -4.5px 4px 2px #000000,
  -5.8px 4px 2px #555454,     -5.8px 5px 2px #000000,
  -7.1px 5px 2px #555454,     -7.1px 6px 2px #000000,
  -8.4px 6px 2px #555454,     -8.4px 6.5px 2px #000000,
  -10px 6.5px 2px #555454,    -10px 7px 2px #000000,
  -12px 7px 2px #555454,      -12px 7.5px 2px #000000,
  -13.5px 7.5px 2px #555454,  -13.5px 8px 2px #000000,
  -15px 8px 2px #555454,      -15px 9px 2px #000000,

  /* Shadow */
  -16px 5px  10px 10px rgba(0, 0, 0, 0.25),
  -15px 14px  10px 10px rgba(0, 0, 0, 0.25),
  -13px 19px  10px 12px rgba(0, 0, 0, 0.24);

}


.grid-item22:hover {
  box-shadow:

  /* Sides */
  -1px 0px 3px #555454,       -1px 1px 3px #000000,
  -3px 0.5px 3px #555454,     -3px 1.5px 3px  #000000,
  -5px 1px 3px #555454,       -5px 2px 3px  #000000,
  -6px 1.5px 3px #555454,     -6px 2.5px 3px #000000,
  -8px 2px 3px #555454,       -7px 3px 3px #000000,
  -9px 2.5px 3px #555454,     -9px 3.5px 3px #000000,
  -10px 3px 3px #555454,      -10px 4px 3px #000000,
  -11px 3.5px 3px #555454,    -11px 4.5px 3px #000000,
  -12px 4px 3px #555454,      -12px 5px 3px #000000,
  -13px 4.5px 3px #555454,    -13px 5.5px 3px #000000,
  -14px 5px 3px #555454,      -14px 6px 3px #000000,

  /* Shadow */
  -16px 5px  10px 10px rgba(0, 0, 0, 0.25),
  -15px 14px  10px 10px rgba(0, 0, 0, 0.25),
  -13px 19px  10px 12px rgba(0, 0, 0, 0.24);

}



/* ---------------LEFT---------------------*/




.grid-item2:hover {
  box-shadow:

  /* Sides */
  1px 0px 2px #555454,       1px 1px 2px #000000,
  3px 1px 2px #555454,       3px 2px 2px  #000000,
  5px 2px 2px #555454,       5px 3px 2px  #000000,
  7px 3px 2px #555454,       7px 4px 2px #000000,
  9px 4px 2px #555454,       9px 5px 2px #000000,
  11px 5px 2px #555454,      11px 6px 2px #000000,
  13px 6px 2px #555454,      13px 6.5px 2px #000000,
  15px 6.5px 2px #555454,    15px 7px 2px #000000,
  17px 7px 2px #555454,      18px 7.5px 2px #000000,
  19px 7.5px 2px #555454,    19px 8px 2px #000000,
  20px 8px 2px #555454,      20px 9px 2px #000000,

  /* Shadow */
  16px 5px  10px 10px rgba(0, 0, 0, 0.25),
  15px 14px  10px 10px rgba(0, 0, 0, 0.25),
  13px 19px  10px 12px rgba(0, 0, 0, 0.24);

}

.grid-item1:hover {
  box-shadow:

  /* Sides */
  1px 0px 3px #555454,       1px 1px 2px #000000,
  3px 1px 3px #555454,       3px 2px 2px  #000000,
  5px 2px 3px #555454,       5px 3px 2px  #000000,
  7px 3px 3px #555454,       7px 4px 2px #000000,
  9px 4px 3px #555454,       9px 5px 2px #000000,
  11px 5px 3px #555454,      11px 6px 2px #000000,
  13px 6px 3px #555454,      13px 7px 2px #000000,
  15px 6.5px 3px #555454,    15px 7px 2px #000000,
  17px 7px 3px #555454,      17px 8.5px 2px #000000,
  19px 7.5px 3px #555454,    19px 9px 2px #000000,
  20px 8px 3px #555454,      20px 9.5px 2px #000000,
  21px 8.5px 3px #555454,    21px 9px 2px #000000,
  22px 9px 3px #555454,      22px 9px 2px #000000,
  23px 9px 3px #555454,      24px 9px 2px #000000,
  24px 9px 3px #555454,      25px 9px 2px #000000,


  /* Shadow */
  16px 5px  10px 10px rgba(0, 0, 0, 0.25),
  15px 14px  10px 10px rgba(0, 0, 0, 0.25),
  13px 19px  10px 12px rgba(0, 0, 0, 0.24);

}

.grid-item14:hover {
  box-shadow:

  /* Sides */
  1px 0px 3px #555454,       1px 1px 2px #000000,
  3px 0.5px 3px #555454,     3px 1px 2px  #000000,
  5px 1px 3px #555454,       5px 2px 2px  #000000,
  7px 1.5px 3px #555454,     7px 3px 2px #000000,
  9px 2px 3px #555454,       9px 3px 2px #000000,
  11px 2.5px 3px #555454,    11px 4px 2px #000000,
  13px 3px 3px #555454,      13px 5px 2px #000000,
  15px 3.5px 3px #555454,    15px 6px 2px #000000,
  17px 4px 3px #555454,      18px 6px 2px #000000,
  19px 5px 3px #555454,      19px 6px 2px #000000,


  /* Shadow */
  16px 5px  10px 10px rgba(0, 0, 0, 0.25),
  15px 14px  10px 10px rgba(0, 0, 0, 0.25),
  13px 19px  10px 12px rgba(0, 0, 0, 0.24);
}

.grid-item13:hover {
  box-shadow:

  /* Sides */
  1px 0px 3px #555454,       1px 0.5px 2px #000000,
  3px 0.5px 3px #555454,     3px 1px 2px  #000000,
  5px 1px 3px #555454,       5px 1.5px 2px  #000000,
  7px 1.5px 3px #555454,     7px 2px 2px #000000,
  9px 2px 3px #555454,       9px 2.5px 2px #000000,
  11px 2.5px 3px #555454,    11px 3px 2px #000000,
  13px 3px 3px #555454,      13px 3.5px 2px #000000,
  15px 3.5px 3px #555454,    15px 4px 2px #000000,
  17px 4px 3px #555454,      17px 4.5px 2px #000000,
  19px 4.5px 3px #555454,    19px 5px 2px #000000,
  20px 5px 3px #555454,      20px 5.5px 2px #000000,
  21px 5.5px 3px #555454,    21px 6px 2px #000000,
  22px 6px 3px #555454,      22px 6.5px 2px #000000,
  23px 6px 3px #555454,      23px 6.5px 2px #000000,
  24px 6px 3px #555454,      24px 6.5px 2px #000000,
  /* Shadow */
  16px 5px  10px 10px rgba(0, 0, 0, 0.25),
  15px 14px  10px 10px rgba(0, 0, 0, 0.25),
  13px 19px  10px 12px rgba(0, 0, 0, 0.24);
}

.grid-item26:hover {
  box-shadow:

  /* Sides */
  1px 0 2px #555454,         1px 0.5px 2px #000000,
  3px 0.5px 2px #555454,     3px 1px 2px  #000000,
  5px 1px 2px #555454,       5px 1.5px 2px  #000000,
  7px 1.5px 2px #555454,     7px 2px 2px #000000,
  9px 2px 2px #555454,       9px 2.5px 2px #000000,
  11px 2.5px 2px #555454,    11px 3px 2px #000000,
  13px 2.9px 2px #555454,    13px 3.25px 2px #000000,
  15px 3.4px 2px #555454,    15px 3.4px 2px #000000,
  17px 3.8px 2px #555454,    17px 3.9px 2px #000000,
  19px 3.9px 2px #555454,    19px 4px 2px #000000,

  /* Shadow */
  16px 5px  10px 10px rgba(0, 0, 0, 0.25),
  15px 14px  10px 10px rgba(0, 0, 0, 0.25),
  13px 19px  10px 12px rgba(0, 0, 0, 0.24);

}

.grid-item25:hover {
  box-shadow:

  /* Sides */
  1px 0 3px #555454,          1px 0.25px 3px #000000,
  3px 0.25px 3px #555454,     3px 0.5px 3px  #000000,
  5px 0.5px 3px #555454,      5px 0.75px 3px  #000000,
  7px 0.75px 3px #555454,     7px 1px 3px #000000,
  9px 1px 3px #555454,        9px 1.25px 3px #000000,
  11px 1.25px 3px #555454,    11px 1.5px 3px #000000,
  13px 1.5px 3px #555454,     13px 1.75px 3px #000000,
  15px 1.75px 3px #555454,    15px 2px 3px #000000,
  17px 2px 3px #555454,       17px 2.25px 3px #000000,
  19px 2.25px 3px #555454,    19px 2.5px 3px #000000,
  20px 2.5px 3px #555454,     20px 2.75px 3px #000000,
  21px 2.75px 3px #555454,    21px 3px 3px #000000,
  22px 3px 3px #555454,       22px 3.4px 3px #000000,
  23px 3.4px 3px #555454,     23px 3.8px 3px #000000,
  24px 4px 3px #555454,       24px 4px 3px #000000,

  /* Shadow */
  16px 5px  10px 10px rgba(0, 0, 0, 0.25),
  15px 14px  10px 10px rgba(0, 0, 0, 0.25),
  13px 19px  10px 12px rgba(0, 0, 0, 0.24);

}

/* MAIN */
.grid-item38:hover {
  box-shadow:

  /* Sides */
  1px 0 3px  #555454,        1px 0.25px 2px  #000000,
  3px 0.25px 3px  #555454,   3px 0.5px 2px  #000000,
  5px 0.5px 3px  #555454,    5px 0.75px 2px  #000000,
  7px 0.75px 3px  #555454,   7px 1px 2px #000000,
  9px 1px 3px  #555454,      9px 1.25px 2px #000000,
  11px 1.25px 3px  #555454,  11px 1.5px 2px #000000,
  13px 1.5px 3px  #555454,   13px 1.75px 2px #000000,
  15px 1.75px 3px  #555454,  15px 2px 2px #000000,
  17px 2px 3px  #555454,     17px 2.25px 2px #000000,
  19px 2.25px 3px  #555454,  19px 2.5px 2px #000000,

  /* Shadow */
  16px 5px  10px 10px rgba(0, 0, 0, 0.25),
  28px 1px  10px 1px rgba(0, 0, 0, 0.25),
  29px 1px  10px 1px rgba(0, 0, 0, 0.25),
  13px 19px  10px 6px rgba(0, 0, 0, 0.24);

}


.grid-item37:hover {
  box-shadow:

  /* Sides */
  1px 0 2px  #555454,         1px 0.2px 2px  #000000,
  3px 0.2px 2px  #555454,     3px 0.4px 2px  #000000,
  5px 0.4px 2px  #555454,     5px 0.6px 2px  #000000,
  7px 0.6px 2px  #555454,     7px 0.8px 2px #000000,
  9px 0.8px 2px  #555454,     9px 1.25px 2px #000000,
  11px 1px 2px  #555454,      11px 1.2px 2px #000000,
  13px 1.2px 2px  #555454,    13px 1.4px 2px #000000,
  15px 1.4px 2px  #555454,    15px 1.6px 2px #000000,
  17px 1.6px 3px #555454,     17px 1.8px 2px #000000,
  19px 1.8px 3px #555454,     19px 2px 2px #000000,
  20px 2px 3px #555454,       20px 2.1px 2px #000000,
  21px 2.1px 3px #555454,     21px 2.2px 2px #000000,
  22px 2.2px 3px #555454,     22px 2.3px 2px #000000,
  23px 2.4px 3px #555454,     23px 2.4px 2px #000000,
  23px 2.5px 3px #555454,     24px 2.5px 2px #000000,

  /* Shadow */
  16px 5px  10px 10px rgba(0, 0, 0, 0.25),
  15px 14px  10px 10px rgba(0, 0, 0, 0.25),
  13px 19px  10px 12px rgba(0, 0, 0, 0.24);

}


.grid-item46:hover {
box-shadow:

/* Sides */
1px 0 2px  #555454,           1px -0.1px 2px  #000000,
3px -0.1px 3px  #555454,      3px -0.15px 2px  #000000,
5px -0.15px 3px  #555454,     5px -0.2px 2px  #000000,
7px -0.2px 3px  #555454,      7px -0.25px 2px #000000,
9px -0.25px 3px  #555454,     9px -0.3px 2px #000000,
11px -0.3px 3px  #555454,     11px -0.35px 2px #000000,
13px -0.35px 3px  #555454,    13px -0.4px 2px #000000,
15px -0.4px 3px  #555454,     15px -0.45px 2px #000000,
17px -0.45px 3px #555454,     17px -0.5px 2px #000000,
19px -0.5px 3px #555454,      19px -0.55px 2px #000000,
20px -0.55px 3px #555454,     20px -0.6px 2px #000000,
21px -0.6px 3px #555454,      21px -0.7px 2px #000000,
22px -0.7px 3px #555454,      22px -0.8px 2px #000000,
23px -0.8px 3px #555454,      23px -0.9px 2px #000000,
23px -0.9px 3px #555454,      24px -1px 2px #000000,

/* Shadow */
16px 1px  10px 10px rgba(0, 0, 0, 0.25),
15px 3px  10px 10px rgba(0, 0, 0, 0.25),
13px 5px  10px 12px rgba(0, 0, 0, 0.24);

}


.grid-item47:hover {
  box-shadow:

  /* Sides */
  1px 0px 3px   #555454,        1px -0.1px 2px  #000000,
  3px -0.1px 3px  #555454,      3px -0.2px 2px  #000000,
  5px -0.2px 3px  #555454,      5px -0.3px 2px  #000000,
  7px -0.3px 3px  #555454,      7px -0.5px 2px #000000,
  9px -0.4px 3px  #555454,      9px -0.7px 2px #000000,
  11px -0.5px 3px  #555454,     11px -0.9px 2px #000000,
  13px -0.6px 3px  #555454,     13px -1px 2px #000000,
  15px -0.7px 3px  #555454,     15px -1.2px 2px #000000,
  17px -0.8px 3px  #555454,     17px -1.25px 2px #000000,
  19px -0.9px 3px  #555454,     19px -1.5px 2px #000000,

  /* Shadow */
  16px 1px  10px 10px rgba(0, 0, 0, 0.25),
  15px 3px  10px 10px rgba(0, 0, 0, 0.25),
  13px 5px  10px 12px rgba(0, 0, 0, 0.24);

}

.grid-item58:hover {
  box-shadow:

  /* Sides */
  1px 0px 3px   #555454,        1px -0.1px 2px  #000000,
  3px -0.2px 3px  #555454,      3px -0.2px 2px  #000000,
  5px -0.4px 3px  #555454,      5px -0.3px 2px  #000000,
  7px -0.6px 3px  #555454,      7px -0.5px 2px #000000,
  9px -0.8px 3px  #555454,      9px -0.7px 2px #000000,
  11px -1px 3px  #555454,       11px -0.9px 2px #000000,
  13px -1.2px 3px  #555454,     13px -1px 2px #000000,
  15px -1.4px 3px  #555454,     15px -1.2px 2px #000000,
  17px -1.6px 3px  #555454,     17px -1.25px 2px #000000,
  19px -1.8px 3px  #555454,     19px -1.5px 2px #000000,

  /* Shadow */
  16px -5px  10px 10px rgba(0, 0, 0, 0.25),
  15px -10px  10px 10px rgba(0, 0, 0, 0.25),
  13px -14px  10px 12px rgba(0, 0, 0, 0.24);

}

.grid-item57:hover {
box-shadow:

/* Sides */
1px 0px 3px   #555454,        1px -0.1px 3px  #000000,
3px -0.1px 3px  #555454,      3px -0.2px 3px  #000000,
5px -0.2px 3px  #555454,      5px -0.3px 3px  #000000,
7px -0.3px 3px  #555454,      7px -0.5px 3px #000000,
9px -0.5px 3px  #555454,      9px -0.7px 3px #000000,
11px -0.7px 3px  #555454,     11px -0.9px 3px #000000,
13px -0.9px 3px  #555454,     13px -1.1px 3px #000000,
15px -1.1px 3px  #555454,     15px -1.2px 3px #000000,
17px -1.2px 3px  #555454,     17px -1.3px 3px #000000,
19px -1.3px 3px  #555454,     19px -1.4px 3px #000000,
20px -1.4px 3px #555454,      20px -1.3px 3px #000000,
21px -1.5px 3px #555454,      21px -1.35px 3px #000000,
22px -1.6px 3px #555454,      22px -1.4px 3px #000000,
23px -1.7px 3px #555454,      23px -1.45px 3px #000000,
23px -1.8px 3px #555454,      24px -1.5px 3px #000000,

/* Shadow */
16px -5px  10px 10px rgba(0, 0, 0, 0.25),
15px -10px  10px 10px rgba(0, 0, 0, 0.25),
13px -14px  10px 12px rgba(0, 0, 0, 0.24);

}

.grid-item69:hover {
  box-shadow:

  /* Sides */
  1px 0px 3px   #555454,        1px -0.1px 2px  #000000,
  3px -0.6px 3px  #555454,      3px -0.6px 2px  #000000,
  5px -1.2px 3px  #555454,      5px -1.8px 2px  #000000,
  7px -1.8px 3px  #555454,      7px -2.4px 2px #000000,
  9px -2.4px 3px  #555454,      9px -3px 2px #000000,
  11px -3px 3px  #555454,       11px -3.6px 2px #000000,
  13px -3.6px 3px  #555454,     13px -4.2px 2px #000000,
  15px -4.2px 3px  #555454,     15px -4.5px 2px #000000,
  17px -4.6px 3px  #555454,     17px -4.8px 2px #000000,
  19px -4.9px 3px  #555454,     19px -5px 2px #000000,

  /* Shadow */
  16px -5px  10px 10px rgba(0, 0, 0, 0.25),
  15px -14px  10px 10px rgba(0, 0, 0, 0.25),
  13px -19px  10px 12px rgba(0, 0, 0, 0.24);

}

.grid-item68:hover {
box-shadow:

/* Sides */
1px 0px 3px   #555454,        1px -0.4px 2px  #000000,
3px -0.4px 3px  #555454,      3px -0.8px 2px  #000000,
5px -0.8px 3px  #555454,      5px -1.2px 2px  #000000,
7px -1.2px 3px  #555454,      7px -1.6px 2px #000000,
9px -1.6px 3px  #555454,      9px -2px 2px #000000,
11px -2px 3px  #555454,       11px -3.1px 2px #000000,
13px -2.4px 3px  #555454,     13px -3.2px 2px #000000,
15px -2.8px 3px  #555454,     15px -3.5px 2px #000000,
17px -3.2px 3px  #555454,     17px -3.8px 2px #000000,
19px -3.6px 3px  #555454,     19px -4px 2px #000000,
20px -4px 3px #555454,        20px -4.3px 3px #000000,
21px -4.2px 3px #555454,      21px -4.35px 3px #000000,
22px -4.4px 3px #555454,      22px -4.4px 3px #000000,
23px -4.8px 3px #555454,      23px -4.45px 3px #000000,
23px -5px 3px #555454,        24px -4.9px 3px #000000,

/* Shadow */
16px -5px  10px 10px rgba(0, 0, 0, 0.25),
15px -14px  10px 10px rgba(0, 0, 0, 0.25),
13px -19px  10px 12px rgba(0, 0, 0, 0.24);

}

.grid-item81:hover {
  box-shadow:

  /* Sides */
  1px 0px 3px   #555454,        1px -0.1px 2px  #000000,
  3px -0.1px 3px  #555454,      3px -0.5px 2px  #000000,
  5px -0.5px 3px  #555454,      5px -1.5px 2px  #000000,
  7px -1.5px 3px  #555454,      7px -2.5px 2px #000000,
  9px -2.5px 3px  #555454,      9px -3.5px 2px #000000,
  11px -3.5px 3px  #555454,     11px -4.2px 2px #000000,
  13px -4.2px 3px  #555454,     13px -5px 2px #000000,
  15px -5px 3px  #555454,       15px -6px 2px #000000,
  17px -6px 3px  #555454,       17px -7px 2px #000000,
  19px -7px 3px  #555454,       19px -7.7px 2px #000000,

  /* Shadow */
  16px -5px  10px 10px rgba(0, 0, 0, 0.25),
  15px -14px  10px 10px rgba(0, 0, 0, 0.25),
  13px -19px  10px 12px rgba(0, 0, 0, 0.24);

}

.grid-item80:hover {
box-shadow:

/* Sides */
1px 0px 3px   #555454,        1px -0.1px 2px  #000000,
3px -0.5px 3px  #555454,      3px -0.5px 2px  #000000,
5px -1px 3px  #555454,        5px -1.5px 2px  #000000,
7px -1.5px 3px  #555454,      7px -2px 2px #000000,
9px -2px 3px  #555454,        9px -2.5px 2px #000000,
11px -2.5px 3px  #555454,     11px -3px 2px #000000,
13px -3px 3px  #555454,       13px -3.5px 2px #000000,
15px -3.5px 3px  #555454,     15px -4px 2px #000000,
17px -4px 3px  #555454,       17px -4.5px 2px #000000,
19px -4.5px 3px  #555454,     19px -5px 2px #000000,
20px -5px 3px #555454,        20px -5.5px 3px #000000,
21px -5.5px 3px #555454,      21px -6px 3px #000000,
22px -6px 3px #555454,        22px -6.4px 3px #000000,
23px -6.4px 3px #555454,      23px -7px 3px #000000,
23px -7px 3px #555454,        24px -7.7px 3px #000000,

/* Shadow */
16px -5px  10px 10px rgba(0, 0, 0, 0.25),
15px -14px  10px 10px rgba(0, 0, 0, 0.25),
13px -19px  10px 12px rgba(0, 0, 0, 0.24);

}

.grid-item81:hover {
  box-shadow:

  /* Sides */
  1px 0px 3px   #555454,        1px -0.1px 2px  #000000,
  3px -0.1px 3px  #555454,      3px -0.5px 2px  #000000,
  5px -0.5px 3px  #555454,      5px -1.5px 2px  #000000,
  7px -1.5px 3px  #555454,      7px -2.5px 2px #000000,
  9px -2.5px 3px  #555454,      9px -3.5px 2px #000000,
  11px -3.5px 3px  #555454,     11px -4.2px 2px #000000,
  13px -4.2px 3px  #555454,     13px -5px 2px #000000,
  15px -5px 3px  #555454,       15px -6px 2px #000000,
  17px -6px 3px  #555454,       17px -7px 2px #000000,
  19px -7px 3px  #555454,       19px -7.7px 2px #000000,

  /* Shadow */
  16px -5px  10px 10px rgba(0, 0, 0, 0.25),
  15px -14px  10px 10px rgba(0, 0, 0, 0.25),
  13px -19px  10px 12px rgba(0, 0, 0, 0.24);

}