.grid {
    display: grid;
    /*grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));*/
    grid-template-columns: repeat(12, [col] 1fr);
    grid-template-rows: repeat(15, [row] 1fr);
    background-color: darkgrey;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    text-align: center;
    /*padding: .5em*/
}

.grid-item {
    min-height: 65px;
    background-color: greenyellow;
    }



.grid-item1 {
    background-color: greenyellow;
    min-height: 50px;
}

.grid-item2 {
    background-color: aqua;
}

.grid-item3 {
    background-color: #5995da;
}

.grid-item4 {
    background-color: aquamarine;
}

.grid-item5 {
    background-color: blue;
}

.grid-item6 {
    background-color: brown;
}

.grid-item7 {
    background-color: cyan;
}

.grid-item8 {
    background-color: crimson;
}

.grid-item9 {
    background-color: cadetblue;
}

.grid-item10 {
    background-color: darkslategrey;
}

.grid-item11 {
    background-color: darkviolet;
}

.grid-item12 {
    background-color: firebrick;
}

.grid-item13 {
    background-color: firebrick;
}

.grid-item14 {
    background-color: lawngreen;
}

.grid-item15 {
    background-color: aqua;
}

.grid-item16 {
    background-color: #5995da;
}

.grid-item17 {
    background-color: aquamarine;
}

.grid-item18 {
    background-color: blue;
}

.grid-item19 {
    background-color: brown;
}

.grid-item20 {
    background-color: cyan;
}

.grid-item21 {
    background-color: crimson;
}

.grid-item22 {
    background-color: cadetblue;
}

.grid-item23 {
    background-color: darkslategrey;
}

.grid-item24 {
    background-color: darkviolet;
}

.grid-item25 {
    background-color: firebrick;
}

.grid-item26 {
    background-color: firebrick;
}

.grid-item27 {
    background-color: chartreuse;
}

.grid-item28 {
    background-color: aqua;
}

.grid-item29 {
    background-color: #5995da;
    /*grid-row: row 3 / row 6;*/
    grid-row: span 3;
    grid-column: col 5 / col 6;
}

.grid-item30 {
    background-color: aquamarine;
}

.grid-item31 {
    background-color: blue;
}

.grid-item32 {
    background-color: brown;
}

.grid-item33 {
    background-color: cyan;
}

.grid-item34 {
    background-color: crimson;
}

.grid-item35 {
    background-color: cadetblue;
}

.grid-item36 {
    background-color: darkslategrey;
}

.grid-item37 {
    background-color: darkviolet;
}

.grid-item38 {
    background-color: firebrick;
    grid-column: col 2 / col 4;
}

.grid-item39 {
    background-color: firebrick;
}

.grid-item40 {
    background-color: green;
}

.grid-item41 {
    background-color: aqua;
}

.grid-item42 {
    background-color: #5995da;
}

.grid-item43 {
    background-color: aquamarine;
    grid-column: col 9 / col 11;
}

.grid-item44 {
    background-color: blue;

}

.grid-item45 {
    background-color: brown;
}

.grid-item46 {
    background-color: cyan;
}

.grid-item47 {
    background-color: crimson;
}

.grid-item48 {
    background-color: cadetblue;
}

.grid-item49 {
    background-color: darkslategrey;
}

.grid-item50 {
    background-color: darkviolet;
}

.grid-item51 {
    background-color: firebrick;
}

.grid-item52 {
    background-color: firebrick;
}

.grid-item53 {
    background-color: lightgoldenrodyellow;
}

.grid-item54 {
    background-color: aqua;
}

.grid-item55 {
    background-color: #5995da;
}

.grid-item56 {
    background-color: aquamarine;
}

.grid-item57 {
    background-color: blue;
}

.grid-item58 {
    background-color: brown;
}

.grid-item59 {
    background-color: cyan;
}

.grid-item60 {
    background-color: crimson;
}

.grid-item61 {
    background-color: cadetblue;
}

.grid-item62 {
    background-color: darkslategrey;
}

.grid-item63 {
    background-color: darkviolet;
    grid-column: col 7 / col 9;
}

.grid-item64 {
    background-color: firebrick;
}

.grid-item65 {
    background-color: firebrick;

}

.grid-item66 {
    background-color: darksalmon;
}

.grid-item67 {
    background-color: aqua;
}

.grid-item68 {
    background-color: #5995da;
}

.grid-item69 {
    background-color: aquamarine;
}

.grid-item70 {
    background-color: blue;
}

.grid-item71 {
    background-color: brown;
}

.grid-item72 {
    background-color: cyan;
}

.grid-item73 {
    background-color: crimson;
}

.grid-item74 {
    background-color: cadetblue;
}

.grid-item75 {
    background-color: darkslategrey;
}

.grid-item76 {
    background-color: darkviolet;
}

.grid-item77 {
    background-color: firebrick;
}

.grid-item78 {
    background-color: firebrick;
}

.grid-item79 {
    background-color: crimson;
}

.grid-item80 {
    background-color: cadetblue;
}

.grid-item81 {
    background-color: darkslategrey;
}

.grid-item82 {
    background-color: darkviolet;
}

.grid-item83 {
    background-color: firebrick;
}

.grid-item84 {
    background-color: firebrick;
}

.grid-item85 {
    background-color: crimson;
}

.grid-item86 {
    background-color: cadetblue;
}

.grid-item87 {
    background-color: darkslategrey;
}

.grid-item88 {
    background-color: darkviolet;
}

.grid-item89 {
    background-color: firebrick;
}

.grid-item90 {
    background-color: firebrick;
}
.grid-item91 {
    background-color: crimson;
}

/*.grid-item92 {*/
/*    background-color: cadetblue;*/
/*}*/

/*.grid-item93 {*/
/*    background-color: darkslategrey;*/
/*}*/

/*.grid-item94 {*/
/*    background-color: darkviolet;*/
/*}*/

/*.grid-item95 {*/
/*    background-color: firebrick;*/
/*}*/

/*.grid-item96 {*/
/*    background-color: firebrick;*/
/*}*/