* {
    padding: 0px;
    margin: 0px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png) no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
}

.header {
    width: 100%;
    height: 100%;
    /*background-color: aquamarine;*/
    /*text-align: center;*/
}

.gender-fieldset {
    display: flex;
    justify-content: flex-end;
}

.gender-fieldset fieldset {
    width: 79.9%;
    margin-right: -5px;
}

.gender-container {
    display: flex;
    align-items: center;
    width: 65px;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 10px;
}

.gender-container:last-child {
    padding-bottom: 10px;
}

.form-row select {
    /*width: 100%;*/
    padding: 5px;
    font-size: 14px; /* This won't work in Chrome or Safari */
    -webkit-appearance: none; /* This will make it work */
    width: 250px;
    height: initial;
}

select {
    width: 448px;
    padding: 5px;

}

.text_address {
    display: flex;
    justify-content: space-between;
}

textarea {
    width: 71%;
    margin-right: -5px;
}

.gender-container input {
    width: initial;
}

.container {
    width: 90%;
    /*background-color: green;*/
    margin: 0 auto;
}

.register-form-container {
    /*background-color: blue;*/
    margin: 0 auto;
    width: 40%;
}

.input_row {
    margin: 10px 5px;
    /*background-color: red;*/
    clear: both;
    text-align: right;
    /*line-height:25px;*/
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

label {
    /*background-color: brown;*/
    float: left;

}

input {
    width: 80%;
    border-radius: 2px;
    padding: 5px 0 5px 3px;
    /*background-color: brown;*/
    border: none;
    border: solid 1px #000000;
}

fieldset {
    clear: both;
    text-align: left;
    border: 3px double;
    width: 100%;
}

.radio {
    float: left;
    appearance: none;

}

legend {

}

textarea {
    width: 71%;
    border-radius: 2px;
    margin-right: -5px;
    padding: 30px 50px 60px 3px;
}

.form-row button {
    font-size: 16px;
    font-weight: bold;

    color: #ffffff;
    background-color: #5995da;

    border: none;
    border-radius: 3px;

    padding: 10px 40px;
    cursor: pointer;
}

.form-row button:hover {
    background-color: #76aeed;
}

.form-row button:active {
    /* background-color: #407fc7; */
    background-color: pink;
}

button {
    margin: 10px 5px;
    /*background-color: red;*/
    clear: both;
    text-align: right;
    /*line-height:25px;*/
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
}


.form-row .checkbox-label {
    margin-bottom: 0;
}

.form-row .checkbox-label {
    margin-left: 120px;
    width: auto;
}

