/*Базовые стили для страницы*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
}

.container {
	max-width: 1400px;
	margin: 0 auto;

}

/*header and logo*/
header .container {
    background-color: #054b97;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 20px;
    max-width: 2000px;
}

header .logo h1 {
	color: #fff;
	font-size: 32px;
	font-weight: bold;
    font-family: balthazar;
	margin: 0;
	text-align: center;
	text-transform: capitalize ;
}

header .signin a {
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
    margin: 0;
    text-align: center;
    padding: 10px 20px;
	border: 2px solid #fff;
	border-radius: 30px;
}

header .signin a:hover {
	background-color: #fff;
	color: #007bff;
}


@media (max-width: 600px) {
	header .container {
		flex-direction: column;
	}
	header .signin {
        margin-top: 10px;
        align-self: flex-end;
	}
}



nav {
	background-color: #ccc;
	height: 100vh;
	width: 40px;
	float: left;
}

nav ul {
	list-style: none;
	padding: 20px 0;
}

nav ul li {
	margin-bottom: 20px;
}

nav ul li a {
display: block;
padding: 10px;
text-align: center;
text-decoration: none;
}

nav ul li a img {
display: block;
margin-bottom: 10px;
}

nav ul li a span {
display: none;
}

nav ul li a:hover span {
display: block;
position: absolute;
top: 50%;
left: 100%;
transform: translate(10px, -50%);
background-color: #fff;
padding: 5px 10px;
border-radius: 5px;
box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

main {
padding: 20px;
}

main h2 {
font-size: 36px;
font-weight: bold;
margin-bottom: 20px;
}

main p {
margin-bottom: 20px;
}


.sidebar img {
    display: block;
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-bottom: 10px;
  }

  .sidebar li {
    margin-bottom: -10px;
  }