* {
    padding: 0px;
    margin: 0px;
}

header {
    background-color:black;
    height: 0px;
    padding: 29px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 90px;
    margin-right: 90px;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 21px 60px;
    transition: background-color 0.3s ease;
    flex-grow: 1;
}

nav a:hover {
    background-color: gray;
    height: 100%;

}

.subnav {
    position: absolute;
    background-color: black;
    color: white;
    padding: 10px;
    display: none;
    z-index: 1;
}

.subnav li {
    margin: 21px 0px;
    position: relative;
}

.subnav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
    padding: 5px;
    transition: background-color 0.3s ease;
}

.subnav a:hover {
    background-color: gray;
}

nav li:nth-child(2):hover .subnav {
    display: block;
}

.subnav2 {
    position: absolute;
    background-color: black;
    color: white;
    padding: 10px;
    display: none;
    z-index: 2;
    left: 100%;
    top: 0;
}

.subnav2 li {
    margin: 5px 0;
}

.subnav2 a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
    padding: 5px;
    transition: background-color 0.3s ease;
}

.subnav2 a:hover {
    background-color: gray;
}

nav li:nth-child(2) .subnav li:nth-child(5) a:hover + .subnav2 {
    display: block;
}

table {
    width: 88%;
    border-collapse: collapse;
    margin-top: 50px;
    margin-left: 90px;
}

.table-heder {
    text-align: center;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}


thead {
    background-color: rgb(127, 122, 122);
}

.row2, .row4 {
    background-color: rgb(216, 216, 216);
}

.result {
    text-align: right;
    font-weight: bold
}

.result_left {
    font-weight: bold;
}